.gif{
background-image: URL("../../assets/under-construction.gif");
height: 100vh;
background-position: center;
background-repeat: no-repeat;
background-size: contain;
background-color: #FACB4F;
}

.gif-active{
    background-image: URL("../../assets/under-construction.gif");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #FACB4F;
    filter:brightness(50%)
    }